.search-container {
    position: relative;
    width: 100%;
}

.search-input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #666;
}

/* Estilos opcionales para el icono */
.search-icon i {
    font-size: 16px;
}
